{% extends "base.html" %}


{% block content %}
<h2 class='noteTitle'>{{ note.title }}</h2>
<p class='noteBody'>{{ note.body }}</p>
<p class='time'>{{ note.niceCreated }}</p>
<p class='time'>{{ note.niceUpdated }}</p>

<div class='detailsLinks'>
    <button><a href="{% url  'notes_delete' pk=note.pk %}">Delete this note</a></button>
    <button><a href="{% url  'notes_update' pk=note.pk %}">Edit this note</a></button>
    <button><a href="{% url 'notes_list' %}">Back to the rest of your notes</a></button>
</div>
{% endblock %}